<html>
  <head>
    <title>中文作文</title>
    <style>
      article {
        width: 500px;
        padding: 20px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <article>
      <h1>中文作文</h1>
    </article>
    <article>
      <h2>第四课</h2>
      <p>我从来没看过这本书，我家的书一般都是小说和课本。一般华人都很聪明，好像中国人又有趣又简单。如果我也这么有趣，那就太好了。中国的传统都值得坚持。我完全接受中国的文化。一般来说中国人都很努力读书。</p>
      <ul>
        <li>我从来没感冒过，只有你会传染给别人，尤其是因为你的卫生根本很差。
        <li>中国人一般都很努力读书，很多美国人都同意。
        <li>要是你重感冒，那就用公筷公勺，别传染你的感冒。
        <li>我不能接受你的看法。我会指出很多错点。
        <li>这碗汤太恶心，不值得我和、喝。
      </ul>
    </article>
  </body>
</html>
