<html>
<head>
	<title>Jonathan Yu</title>
	<meta charset="utf-8"/>
</head>
<body>
	<h1 ALIGN=center>Jonathan Yu</h1>
	<hr> <!-- horizontal rule -->
	<h2 ALIGN=center>Career Profile</h2>
	Currently an Electrical Engineering student at UNSW, studying a Bachelor and Masters degree in Electrical Engineering, including a minor in Computer Science.
	<hr> <!-- horizontal rule -->
	<h2 ALIGN=center>Education</h2>
    <b>UNSW - Bachelor of Engineering and Master of Engineering (Electrical Engineering)</b>
    <ul>
		<li>Minor in Computer Science</li>
    </ul>
	<hr> <!-- horizontal rule -->
	<h2 ALIGN=center>Project Work</h2>
    <ul>
		<li>Robotic Lawn Weeder - Thesis Project</li>
		<li>Handwritten Character Recognition</li>
    </ul>
	<hr> <!-- horizontal rule -->
	<h2 ALIGN=center>Employment History</h2>
    <ul>
		<li>Coles Supermarkets (Grocery Team Member)</li>
		<li>4D Systems, Pty Ltd (Engineering Intern)</li>
		<li>Rosa's Education (Tutor)</li>
    </ul>
	<hr> <!-- horizontal rule -->
	<h2 ALIGN=center>Techincal Skills</h2>
    <ul>
		<li>C/C++ - competent</li>
		<li>Python - competent</li>
		<li>Java - beginner</li>
		<li>MATLAB/Octave - competent</li>
		<li>LaTeX - competent</li>
    </ul>
	<hr> <!-- horizontal rule -->
	<h2 ALIGN=center>Extra-Curricular Activities</h2>
	<hr> <!-- horizontal rule -->
	<h2 ALIGN=center>Interests</h2>
	<hr> <!-- horizontal rule -->
	<h2 ALIGN=center>References</h2>
	<hr> <!-- horizontal rule -->
</body>
</html>
